<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Add a New Pokemon</title>
    <style>
        .topnav {
        background-color: #FC6238;
        overflow: hidden;
        }
  
  /* Style the links inside the navigation bar */
        .topnav a {
            float: right;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        body {
        background-color: #FFD872;
        margin: 0;
        padding: 0;
        }
        .show-main {
            text-align: center;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
    <!-- ============ HEADER ============ -->
    <%- include('./partials/header.ejs')%>  
    <h1>Add a New Pokemon</h1>

        <!-- ============ MAIN ============ -->
        <main class="show-main">
            <form action="/pokemon" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name"/><br><br>
                <label for="img">Image URL:</label>
                <input type="img" name="img"/><br><br>
                <label for="type">Type:</label>
                <input type="text" name="type"/><br><br>
                <label for="hp">HP:</label>
                <input type="text" name="hp"/><br><br>
                <label for="attack">Attack:</label>
                <input type="text" name="attack"/><br><br>
                <label for="defense">Defense:</label>
                <input type="text" name="defense"/><br><br>
                <label for="spattack">SPAttack:</label>
                <input type="text" name="spattack"/><br><br>
                <label for="spdefense">SPDefense:</label>
                <input type="text" name="spdefense"/><br><br>
                <label for="speed">Speed:</label>
                <input type="text" name="speed"/><br><br>

                <input class="new-btn" type="submit"><a href="/pokemon"></a>
                <br><br>
            </form>
        </main>
    </div>
</body>
</html>